@use '../scss/style.scss' as *;

.PlacesPage {
  padding-top: rem(16);
  margin-bottom: rem(32);
  svg {
    width: rem(18);
    height: rem(18);
  }
  .add-new {
    background-color: $ColorMain;
    padding: rem(6) rem(12);
    border-radius: rem(22);
    color: $ColorPrimary;
  }
}
