$ColorPrimary: #fff;
$ColorMain: #0aab78;
$ColorDark: #000;
$ColorGray: gray;
$ColorGrayMedium: rgb(185, 185, 185);
$ColorGrayLight: rgba(177, 177, 177, 0.449);
$ColorBlue: #6894ec;
$ColorError: red;
